.login_form{
    width: 618px;
    background-color: rgba(184, 186, 224, 0.637);
    border-radius: 20px;
    h1{
        text-align: center;
        margin-top: 20px;
    }
    .box{
    margin-top: 400px;
    }
    .check_code{
        display: flex;
        .input{
            flex: 1;
            margin-right: 5px;
        }
        
    }
    
}