.alipay{
    display: flex;
    justify-content : center;
    align-items: center;
    flex-direction:column;
    height: 40;
    width: 40;
    border: 1px solid #D4D8DD;
    border-radius: 50%;
}
.taobao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40;
    width: 40;
    border: 1px solid #D4D8DD;
    border-radius: 50%;
}
.weibo{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    flex-direction: 'column';
    height: 40;
    width: 40;
    border: '1px solid #D4D8DD';
    border-radius: '50%';
}
.actionss{
    display: 'flex' !important;
    justify-content: 'center' !important;
    align-items: 'center' !important;
    flex-direction: 'column' !important;
}

//过时了
$bgColor: rgba(184, 186, 224, 0.637);
.login_box{
    // height: calc(100vh);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(https://api.dujin.org/bing/1920.php);
    .login_form{
        width: 618px;
        background-color: $bgColor;
        border-radius: 20px;
        h1{
            text-align: center;
            margin-top: 20px;
        }
        .box{
            margin-top: 30vh;
        }
        .check_code{
            display: flex;
            .input{
                flex: 1;
                margin-right: 5px;
            }
            
        }
        
    }
}
