.layout{
    // height: 100vh;
    .logo{
        height: 32px;
        margin: 16px; 
        justify-content: center;
        display: flex;
    }
    
}
.breadcrumb{
    margin: "16px 0" 
}
// height: calc(100vh - #{$number});
.content{
    padding: 0 15vw; 
    min-height: calc(100vh - 64px - 64px)
}