html,
body {
    margin: 0;
    padding:0;
    height: 100%;
}


.center-table {
    table td {
        text-align: center;
    }

    .ant-table-thead > tr > th {
        text-align: center;
    }
}
